body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 50px;
}

.experience-arey {
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
}

.orange-color {
    color: red;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 40%;
    padding-left: 20px;
}

.half-width img {
    width: 100%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/);
}

.experience-item {
    width;
    margin-left: 5%;
    margin-right: 5%;
    padding: 40;
    box-shadow: 10px 10px 40px gray;
}

#babe -web-developer {
    border-left: 7px solid tomato;
}

#full-stack-developer {
    border-left: 7px green;
}

footer p {
    text-alin: center;
}